body {
	font-family: 'Play', sans-serif;
    text-align: center;
}

h1 {
	color: green;
	text-decoration: underline;
}

#button-wrapper {
	margin-top: 10px;
}

.btn-class {
	background: green;
    border: 2px solid rgba(33, 68, 72, 0.59);
    border-radius: 50px;
	color: black;
	display: inline-block;
    font-size: 1.5em;
    height: 30px;
    text-align: center;
    width: 125px;
}

a.btn-class {
    text-decoration: none;
}
